* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #333;
}

ul,
li,
ul li,
ol {
    list-style: none;
}

/* 头部开始 */
.nav {
    width: 100%;
    padding: 13px 0;
    background-color: #ffffff;
    box-shadow: 0px 12px 16px 0px rgba(148, 167, 175, 0.2);
    position: fixed;
    z-index: 999;
    top: 0;
}

.nav_con {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 234px;
    height: 40px;
    margin-right: 45px;
}

/* 未登录状态 */
.nav_list {
    display: flex;
    justify-content: flex-start;
    margin-right: 450px;
}

.nav_list li {
    padding: 0 20px;
}

.nav_list li a {
    font-size: 18px;
    color: #121212;
}

.nav_list li:hover a {
    color: #00b1fb;
}

.nav_list li .active {
    color: #00b1fb;
}
/* 登录状态 */
.nav_lists {
    display: flex;
    justify-content: flex-start;
    line-height: 40px;
    margin-right: 450px;
}

.nav_lists li {
    padding: 0 20px;
}

.nav_lists li a {
    font-size: 18px;
    color: #121212;
}

.nav_lists li:hover a {
    color: #00b1fb;
}

.nav_lists li .active {
    color: #00b1fb;
}

.search {
    width: 349px;
    height: 40px;
    border-radius: 3px;
    border: solid 2px #00b1fb;
}

.input {
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: flex;
}

.input input {
    border: none;
    height: 40px;
    padding: 0 12px;
    width: 260px;
    outline: none;
}

.input input::-webkit-input-placeholder {
    color: #bfc3c9;
}

.input button {
    width: 88px;
    height: 40px;
    background-color: #00b1fb;
    color: #fff;
    border: none;
    outline: none;
}

.right_nav a {
    color: #121212;
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #bebebe;
}

.right_nav a:last-child {
    border: none;
}

/* 登录后状态 */
.center{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
.user{
    display: flex;
}
.user ul{
    display: inline-block;
	list-style: none;

}
.user li{
    display: none;
}

.us_center{
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}
.us_center .info{
    font-size: 16px;
    color: #333333;
}
.hea{
    display: flex;
    justify-self: start;
    align-items: center;
    cursor: pointer;
}

.head_portrait{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 2px solid rgba(0, 91,172, 0.5);
    position: relative;
    margin-right: 10px;
}
.head_portrait img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.submenu{
    width: 100px;
    background-color:#fff;
    box-shadow: 0 0 6px 0 rgba(75, 91, 138, 0.2);
    position: absolute;
    top:88px;
    text-align: center;
} 
/* 登录状态结束 */

/* 头部结束 */
/* footer */
.footer{
    width:100%;
    height: 88px;
    line-height: 88px;
    background-color: #1c1f21;
    text-align: center;
    color: #9199a1;
    position: absolute;
    bottom: 0;
}

/* list_start */

.con {
    width: 1200px;
	height: 364px;
    margin: 100px auto 0;
	background-color: #ffffff;
	box-shadow: 0px 12px 16px 0px 
		rgba(148, 167, 175, 0.2);
	border-radius: 6px;
}

.list {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.det_text{
    width: 620px;
    margin-top: 30px;
}

.det_title{
    font-size: 18px;
	color: #000000;
}

.det_jian{
    width: 210px;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
	color: #333333;
	opacity: 0.6;
}

.det_cont{
    font-size: 14px;
	line-height: 24px;
	color: #333333;
}

.det_pic{
    width: 347px;
    height: 233px;
    margin: 50px 100px 0 0; 
}

/* list_end */

/* 登录开始 */
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
#p1,#p2{
    display: none;
}

.login_box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.zhu_box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.login_con{
    width: 380px;
    height: 327px;
    background-color: #ffffff;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 275px;
    padding: 20px 0 20px 40px;
    display: flex;
}
.ipt{
    width: 340px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 6px;
    margin-top: 20px;
}
.ipt input{
    width: 330px;
    outline: none;
    border: 0;
    line-height: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0);
    padding-left: 10px;
	font-size: 16px;
    color: #000000;
    caret-color:#000000;
}
.ipt input::-webkit-input-placeholder {
    color: #bdc2c7;
    opacity: .7;
}
.error{
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.msg_error{
    color:#fa797a;
}
.forget_mi{
    color: #8b8e92;
}
.forget_err{
    color: #8b8e92;
}
.forget a{
    color: #00b1fb;
    cursor: pointer;
}
.forget a:hover{
    color: #0398d6;
}
.log_btn{
    width: 340px;
	height: 40px;
	background-color: #00b1fb;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}
.log_btn:hover{
    background-color: #0398d6;
}
.log_btn a{
    font-size: 16px;
	line-height: 40px;
    color: #ffffff;
}
.again_zhu{
    width: 60px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    margin: 20px auto;
}
.again_zhu a{
    color: #00b1fb;
    cursor: pointer;
}
.again_zhu a:hover{
    color: #0398d6;
}
.close{
    float: right;
    width: 19px;
    height: 19px;
    margin-top: 8px;
    cursor: pointer;
    background-image: url(../img/login_close.png);
}
.close:hover{
    background-image: url(../img/login_closej.png);
}
/* 登录结束 */

/* 注册开始 */
.zhu_con{
    width: 380px;
    height: 490px;
    background-color: #ffffff;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 190px;
    padding: 20px 0 20px 40px;
    display: flex;
}
.zhu_btn{
    width: 340px;
	height: 40px;
	background-color: #00b1fb;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}
.zhu_btn:hover{
    background-color: #0398d6;
}
.zhu_btn a{
    font-size: 16px;
	line-height: 40px;
    color: #ffffff;
}
.space,.spa{
    height: 15px;
    border: none !important;
    display: flex;
    flex-direction: column-reverse;
}
.msg_error{
	font-size: 12px;
    color: #ff0345;
    padding-left: 8px;
}
.msg_error a{
    color: #4f546a;
} 
/* 注册结束 */



