<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/element.css">
    <title>实验平台首页</title>
    <style>
        /* [v-cloak] {
      display: none !important;
    } */
        .el-carousel__item img {
            color: #475669;
            font-size: 18px;
            opacity: 0.75;
            line-height: 300px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }

        .el-carousel__button {
            width: 20px;
            height: 8px;
            border-radius: 4px;
        }

        .el-tabs__active-bar {
            width: 36px !important;
            height: 4px;
            border-radius: 2px;
        }

        .el-tabs__nav-wrap::after {
            background-color: #ffffff;
        }

        .el-tabs__item {
            font-size: 18px;
        }
        .el-select-dropdown{
            z-index: 10000 !important;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- nav_start -->
        <!-- 登录状态 -->
        <header class="nav" v-if="onLogin">
            <div class="center">
                <div class="logo">
                    <a href="#">
                        <img src="./img/logo.png" alt="">
                    </a>
                </div>
                <ul class="nav_lists">
                    <li>
                        <a href="#" class="active">首页</a>
                    </li>
                    <li>
                        <a href="./html/labCenter.html">
                            实验中心
                        </a>
                    </li>
                </ul>
                <div class="search">
                    <label class="input">
                        <input v-model="experiment_name" type="text" maxlength="20" class="Input" placeholder="请输入实验名称" value="">
                        <button @click="getExperiment">
                            <span>搜索</span>
                        </button>
                    </label>
                </div>
                <div class="user us_center">
                    <el-dropdown :hide-on-click="false" @command="handleCommand">
                        <div class="hea">
                            <div class="head_portrait">
                                <img :src="head_portrait" alt="" />
                            </div>
                            <div class="info">{{student_name}}{{teacher_name}}</div>
                        </div>
                        <div class="submenu">
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item command="a">个人中心</el-dropdown-item>
                                <el-dropdown-item command="b">退出</el-dropdown-item>
                            </el-dropdown-menu>
                        </div>
                    </el-dropdown>
                </div>
            </div>
        </header>
        <!-- 未登录状态 -->
        <header class="nav" v-if="downLogin">
            <div class="nav_con">
                <div class="logo">
                    <a href="#">
                        <img src="./img/logo.png" alt="">
                    </a>
                </div>
                <ul class="nav_list">
                    <li>
                        <a href="#" class="active">首页</a>
                    </li>
                    <li>
                        <a href="./html/labCenter.html">
                            实验中心
                        </a>
                    </li>
                </ul>
                <div class="search">
                    <label class="input">
                        <input v-model="experiment_name" type="text" maxlength="100" class="Input" placeholder="请输入实验名称" value="">
                        <button @click="getExperiment">
                            <span>搜索</span>
                        </button>
                    </label>
                </div>
                <div class="right_nav">
                    <a href="#p1" class="login_d" @click="login_d">登录</a>
                    <a href="#p2" class="login_z" @click="login_z">注册</a>
                </div>
            </div>
        </header>
        <!-- nav_end -->
        <!-- banner_start -->
        <div class="banner">
            <template>
                <el-carousel :interval="5000" arrow="always">
                    <el-carousel-item>
                        <img src="./img/banner.png" alt="">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="./img/banner.png" alt="">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="./img/banner.png" alt="">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="./img/banner.png" alt="">
                    </el-carousel-item>
                </el-carousel>
            </template>
        </div>
        <!-- banner_end -->
        <!-- list_start -->
        <div class="con">
            <ul class="list">
                <li class="list_con" @click="queryDetails(item.experiment_id)" v-for="(item,index) of tabledata" v-if="tabledata">
                    <a href="#" class="link">
                        <div class="img">
                            <img :src="imgurl+item.experiment_pic" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                {{item.experiment_name}}
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    {{item.category_one_name}}
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        {{item.subject_number}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/2.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/3.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/4.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/2.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/3.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/1.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/3.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/4.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/2.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/1.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list_con">
                    <a href="#" class="link">
                        <div class="img">
                            <img src="./img/3.png" alt="">
                        </div>
                        <div class="doc">
                            <h2>
                                空调性能故障排查只能模拟仿真系统空调性能故障排查只能模
                            </h2>
                            <div class="t_t">
                                <div class="collage">
                                    智能制造
                                </div>
                                <div class="num">
                                    <i></i>
                                    <div class="n">
                                        1963
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li> -->
            </ul>
            <a href="./html/labCenter.html" class="button">
                <span>
                    查看更多
                </span>
                <span class="arrow">
                    <i></i>
                </span>
            </a>
        </div>
        <!-- list_end -->
        <!-- footer_start -->
        <footer class="footer">
            版权所有：华北水利水电大学 | 豫ICP备05002494-1 | 豫公网安备 41010702002321号
        </footer>
        <!-- footer_end -->
        <!-- login_start -->
        <div class="login_box" id="p1">
            <div class="login_con">
                <template>
                    <el-tabs v-model="LoginName" @tab-click="LoginClick">
                        <el-tab-pane label="学生" name="first">
                            <div class="log_stu">
                                <div class="spa">
                                </div>
                                <div class="ipt">
                                    <input type="number" placeholder="请输入手机号/学号" v-model="account_num2" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div class="ipt">
                                    <input type="password" placeholder="请输入密码" v-model="password2" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div class="error">
                                    <div class="err">
                                        <div class="msg_error" v-if="errorStatus2">
                                            {{errorMsg2}}，请重新输入！
                                        </div>
                                        <div class="forget_mi" style="display: none;">
                                            请联系管理员进行密码找回！
                                        </div>
                                    </div>
                                    <div class="forget">
                                        <a href="#" @click="forget_mi">忘记密码？</a>
                                    </div>
                                </div>
                                <div id="input2" class="log_btn" @click="Studentlog">
                                    <a href="#">登录</a>
                                </div>
                                <div class="again_zhu" @click="again_zhu">
                                    <a href="#">立即注册</a>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="教师" name="second">
                            <div class="log_tea">
                                <div class="ipt">
                                    <input type="number" placeholder="请输入手机号/工号" v-model="account_num4" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div class="ipt">
                                    <input type="password" placeholder="请输入密码" v-model="password4" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div class="error">
                                    <div class="err">
                                        <div class="msg_error" v-if="errorStatus4">
                                            {{errorMsg4}}，请重新输入！
                                        </div>
                                        <div class="forget_err" style="display: none;">
                                            请联系管理员进行密码找回！
                                        </div>
                                    </div>
                                    <div class="forget">
                                        <a href="#" @click="forget_ma">忘记密码？</a>
                                    </div>
                                </div>
                                <div id="input4" class="log_btn" @click="Teacherlog">
                                    <a href="#">登录</a>
                                </div>
                                <div class="again_zhu" @click="again_zhu">
                                    <a href="#">立即注册</a>
                                </div>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </template>
                <div class="close" @click="close_d"></div>
            </div>
        </div>
        <!-- login_end -->
        <!-- reg_start -->
        <div class="zhu_box" id="p2">
            <div class="zhu_con">
                <template>
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane label="学生" name="first">
                            <div class="zhu_stu">
                                <div class="space">
                                    <div class="msg_error" v-if="errorStatus1">
                                        {{errorMsg1}}，请重新输入
                                    </div>
                                </div>
                                <div class="ipt">
                                    <input type="number" placeholder="请输入手机号" v-model="iphone1" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div class="ipt">
                                    <input type="text" placeholder="请输入真实姓名" v-model="student_name1">
                                </div>
                                <div class="ipt">
                                    <input type="number" placeholder="请输入学号" v-model="account_num1">
                                </div>
                                <div class="ipt">
                                    <input type="password" placeholder="请输入密码" v-model="password1" @blur="pswblur(1)" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div class="ipt">
                                    <input type="password" placeholder="确认密码" v-model="upassword1" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div id="input1" class="zhu_btn" @click="StudentReg()">
                                    <a href="#">注册</a>
                                </div>
                                <div class="again_zhu" @click="again_log">
                                    <a href="#">直接登录</a>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="教师" name="second">
                            <div class="zhu_tea">
                                <div class="space">
                                    <div class="msg_error" v-if="errorStatus3">
                                        {{errorMsg3}}，请重新输入
                                    </div>
                                </div>
                                <div class="ipt">
                                    <input type="number" placeholder="请输入手机号" v-model="iphone3" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div class="ipt">
                                    <input type="text" placeholder="请输入教师姓名" v-model="teacher_name3">
                                </div>
                                <div class="ipt">
                                    <input type="number" placeholder="请输入工号" v-model="account_num3">
                                </div>
                                <div class="ipt">
                                    <input type="password" placeholder="请输入密码" v-model="password3" @blur="pswblur(0)" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div class="ipt">
                                    <input type="password" placeholder="确认密码" v-model="upassword3" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                </div>
                                <div id="input3" class="zhu_btn" @click="TeacherReg">
                                    <a href="#">注册</a>
                                </div>
                                <div class="again_zhu" @click="again_log">
                                    <a href="#">直接登录</a>
                                </div>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </template>
                <div class="close" @click="close_z"></div>
            </div>
        </div>
        <!-- reg_end -->
    </div>
</body>
<script src="./js/vue.js"></script>
<script src="./js/axios.js"></script>
<script src="./js/element.js"></script>
<script src="./js/jquery-1.12.4.js"></script>
<script src="./js/pub.js"></script>
<script src="./js/index.js"></script>
<script>
    $(document).keydown(function(event){
        if(event.keyCode==13){
            document.getElementById("input1").click();
            document.getElementById("input2").click();
            document.getElementById("input3").click();
            document.getElementById("input4").click();
        }
    });
</script>
</html>