<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教师个人中心</title>
    <link rel="stylesheet" href="../css/element.css">
    <link rel="stylesheet" href="../css/tecUserCenter.css">
    <link rel="stylesheet" href="../js/kindeditor/themes/default/default.css">
</head>

<body>
    <div id="app" v-cloak>
        <!-- 页头已完成 -->
        <div class="header">
            <div class="header_box">
                <div class="logo">
                    <a href="../index.html">
                        <img src="../img/logo.png" alt=""></a>
                </div>
                <ul class="nav">
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="./labCenter.html">实验中心</a></li>
                </ul>
                <div class="user">
                    <el-dropdown :hide-on-click="false" @command="handleCommand">
                        <div class="hea">
                            <div class="head_portrait">
                                <img :src="user_msg.head_portrait" alt="" />
                            </div>
                            <div class="info">{{user_msg.teacher_name}}</div>
                        </div>
                        <div class="submenu">
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item command="a">个人中心</el-dropdown-item>
                                <el-dropdown-item command="b">退出</el-dropdown-item>
                            </el-dropdown-menu>
                        </div>
                    </el-dropdown>
                </div>
            </div>
        </div>
        <main>
            <div class="main">
                <el-tabs :tab-position="tabPosition" @tab-click="clickQPane">
                    <el-tab-pane label="个人信息">
                        <div class="barbox">
                            <div class="title">
                                <span>个人信息</span>
                            </div>
                            <div class="content_chenge">
                                <a class="tabbar1 tab1_act">基本信息</a>
                                <a class="tabbar1">密码管理</a>
                                <a class="tabbar1">手机号管理</a>
                            </div>
                            <div id="one" class="user_info tab_con1">
                                <div class="info_con">
                                    <ul>
                                        <li>姓名：{{user_msg.teacher_name}}</li>
                                        <li>工号：{{user_msg.teacher_id}}</li>
                                        <!-- <li>手机号：{{user_msg.iphone}}<a class='no_btn'>修改</a></li> -->
                                        <li>手机号：{{user_msg.iphone}}</li>
                                        <li class="submit_btn">
                                            <!-- <div class="info_conform" @click="saveUserInfo">确认</div>
                                            <div class="info_cancal">取消</div> -->
                                        </li>
                                    </ul>
                                    <div class="avatar">
                                        <img :src="user_msg.head_portrait">
                                        <el-upload ref="upload" class="no_btn" :action="formUploadUrl"
                                            :before-upload="beforeAvatarUpload" :on-success="handleAvatarSuccess"
                                            :show-file-list="false">上传头像
                                        </el-upload>
                                    </div>

                                </div>
                            </div>
                            <div id="two" class="user_info tab_con1 hidden">
                                <div class="info_con">
                                    <ul>
                                        <li><span>旧密码：</span><input type="password" v-model="pswForm.old_password"></li>
                                        <li><span>新密码：</span><input type="password" @blur="pswblur(1)"
                                                v-model="pswForm.new_password"></li>
                                        <li><span>确认新密码：</span><input type="password" @blur="pswblur(2)"
                                                v-model="pswForm.confirm_password"></li>
                                        <li><i class="pwTips">密码由8-16位字符（字母、数字、_@#.特殊字符）组成!</i></li>
                                        <li class="submit_btn">
                                            <div class="info_conform" @click="editPassword">保存</div>
                                            <!-- <div class="info_cancal">取消</div> -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="user_info tab_con1 hidden">
                                <div class="info_con">

                                    <ul>
                                        <li><span>请验证密码：</span><input type="password" v-model="phoneForm.password"></li>
                                        <li><span>新手机号：</span><input v-model="phoneForm.iphone"></li>

                                        <li class="submit_btn">
                                            <div class="info_conform" @click="editPhone">保存</div>
                                            <!-- <div class="info_cancal">取消</div> -->
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </el-tab-pane>

                    <el-tab-pane label="题库">
                        <div class="barbox" v-show="showTestList">
                            <div class="title">
                                <span>题库</span>
                                <div class="test_btn">

                                    <div class="handleBtn" @click="createQ">新建<img src="../img/add_j.png" alt=""><img
                                            src="../img/add_m.png" alt=""></div>
                                </div>
                            </div>
                            <div class="testTable">
                                <div class="istable" v-if="Q_list.length>0">
                                    <el-table stripe ref="multipleTable" :data="Q_list" tooltip-effect="dark"
                                        style="width: 100%" @selection-change="handleSelectionChange">
                                        <el-table-column type="index" align="center" label="序号" width="55">
                                        </el-table-column>
                                        <el-table-column label="题目" align="center" width="120">
                                            <template slot-scope="scope">{{ scope.row.question_bank_name }}</template>
                                        </el-table-column>
                                        <el-table-column prop="question_count" align="center" label="题量" width="120">
                                        </el-table-column>
                                        <el-table-column prop="teacher_name" align="center" label="出题人"
                                            show-overflow-tooltip :render-header="renderProductId">
                                        </el-table-column>
                                        <el-table-column prop="create_time" align="center" label="创建日期"
                                            show-overflow-tooltip>
                                        </el-table-column>
                                        <el-table-column align="center" label="状态" show-overflow-tooltip>
                                            <template slot-scope="scope">{{
                                                scope.row.question_bank_status | stuFilter
                                                }}</template>
                                        </el-table-column>
                                        <el-table-column label="操作" align="center">
                                            <template slot-scope="scope">
                                                <el-tooltip
                                                    v-if="scope.row.user_id==userInfo.user_id && scope.row.question_bank_status==0"
                                                    class="item" effect="dark" content="发布" placement="top">
                                                    <i class="el-icon-s-promotion icon" @click="submitQ(scope.row)"></i>
                                                </el-tooltip>
                                                <!-- <el-tooltip
                                                    v-if="scope.row.user_id==userInfo.user_id && scope.row.question_bank_status==0"
                                                    class="item" effect="dark" content="编辑" placement="top">
                                                    <i class='el-icon-edit-outline icon' @click="editQ(scope.row)"></i>
                                                </el-tooltip> -->
                                                <el-tooltip
                                                    v-if="scope.row.user_id==userInfo.user_id && scope.row.question_bank_status==0"
                                                    class="item" effect="dark" content="编辑" placement="top">
                                                    <i class='el-icon-edit-outline icon' @click="editQ(scope.row)"></i>
                                                </el-tooltip>
                                                <el-tooltip
                                                    v-if="scope.row.user_id==userInfo.user_id && scope.row.question_bank_status==0"
                                                    class="item" effect="dark" content="删除" placement="top">
                                                    <i class='el-icon-delete icon' @click="delQ(scope.row)"></i>
                                                </el-tooltip>
                                                <!-- <el-tooltip
                                                    v-if="scope.row.user_id==userInfo.user_id && scope.row.question_bank_status==1"
                                                    class="item" effect="dark" content="撤回" placement="top">
                                                    <i class='el-icon-document-delete icon'
                                                        @click="backQ(scope.row)"></i>
                                                </el-tooltip> -->
                                                <el-tooltip class="item" effect="dark" content="预览" placement="top">
                                                    <i class='el-icon-view icon' @click="preView(scope.row)"></i>
                                                </el-tooltip>

                                            </template>
                                        </el-table-column>

                                    </el-table>
                                    <div class="page">
                                        <el-pagination @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange" :page-size="QpageSize"
                                            layout="total,prev, pager, next" :total="Qtotal">
                                        </el-pagination>
                                    </div>
                                </div>


                                <div v-if="Q_list.length==0">
                                    <div class="notable">
                                        <img src="../img/bank.png" alt="">
                                        <div>无题库列表</div>
                                    </div>
                                </div>
                                <el-dialog :title="EditQtitle" :close-on-click-modal='false' :visible.sync="showEditQ"
                                    width="500px" center>
                                    <el-input v-model="editQvalue" placeholder="请输入内容">
                                        <template slot="prepend">题库名称：</template>
                                    </el-input>
                                    <span slot="footer" class="dialog-footer">
                                        <el-button @click="showEditQ = false">取 消</el-button>
                                        <!-- <el-button v-if="EditQtitle=='修改名称'" type="primary" @click="confirmEditQ">确 定
                                        </el-button> -->
                                        <el-button v-if="EditQtitle=='新建题库'" type="primary" @click="confirmcreateQ">确 定
                                        </el-button>
                                    </span>
                                </el-dialog>
                            </div>
                        </div>
                        <div class="barbox" v-show="!showTestList">
                            <div class="title">
                                <div class="back" @click="showTestList=true"><img src="../img/back.png" alt=""></div>

                                <div class="test_btn">
                                    <div class="total_score" v-if="totalScoreAndNum">
                                        已创建题目<span>{{totalScoreAndNum.count}}</span> 道，总分
                                        <span
                                            v-text="totalScoreAndNum.totle_Score==null?'0':totalScoreAndNum.totle_Score"></span>
                                        分
                                    </div>
                                    <div class="handleBtn" @click="submitAllTest">提交<img src="../img/submit.png"
                                            alt=""><img src="../img/submit.png" alt=""></div>
                                </div>
                            </div>
                            <div class="content_chenge">
                                <a :class="TestTypeIndex == 1?'tab1_act':''" @click="showTestType(1)">单选题</a>
                                <a :class="TestTypeIndex == 2?'tab1_act':''" @click="showTestType(2)">多选题</a>
                                <a :class="TestTypeIndex == 3?'tab1_act':''" @click="showTestType(3)">判断题</a>
                                <a :class="TestTypeIndex == 4?'tab1_act':''" @click="showTestType(4)">简答题</a>
                            </div>
                            <div class="test_create">
                                <div class="radio_test">
                                    <ul>
                                        <li>
                                            <span>题号：</span>
                                            <div class="num_list">
                                                <div class="num_item" v-for="(i,k) in testBox" :key="k"
                                                    :class="TestItemIndex == i.question_id?'item_act':''"
                                                    @click="showTestItem(i)">
                                                    {{i.question_id}}
                                                    <i class="el-icon-close icon" @click="delOneTest(i)"></i>

                                                </div>
                                                <el-tooltip class="item" effect="dark" content="新增题目" placement="top">
                                                    <i class="el-icon-plus  icon" style="width: 20px;
                                                height: 20px;margin:10px;border: 1px solid #ddd;"
                                                        @click="addNewOneTest"></i>
                                                </el-tooltip>
                                            </div>
                                        </li>
                                        <li>
                                            <span>分数：</span>
                                            <div class="item_score">
                                                <input type="text" v-model="testBoxItem.question_score">
                                                分
                                            </div>
                                        </li>
                                        <li>
                                            <span>题目：</span>
                                            <div class="item_tit">
                                                <textarea id="Contents" name="content" style="width:800px;height:50px;"
                                                    v-model="testBoxItem.question_title">
                                                </textarea>
                                                <!-- <el-input type="textarea" v-model="testBoxItem.question_title" :rows="2"
                                                    placeholder="请输入题目">
                                                </el-input> -->
                                            </div>
                                        </li>
                                        <li v-if="TestTypeIndex != 4">
                                            <span>选项：</span>
                                            <div class="item_options">
                                                <ul>
                                                    <li v-for="(i,k) in testBoxItem.question_option" :key="k">
                                                        <!-- <li v-for="(i,k) in jiashujv" v-if="jiashujv.length>0" :key="k"> -->
                                                        <span>{{options[k]}}：</span>
                                                        <div class="options_con">
                                                            <el-input type="textarea"
                                                                v-model="testBoxItem.question_option[k]"></el-input>
                                                        </div>
                                                        <div @click="delOption(k)">删除</div>
                                                    </li>
                                                    <li>
                                                        <span>&nbsp;</span>
                                                        <div @click="addnewOption">新增选项</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <span>正确答案：</span>
                                            <!-- 单选 || 判断 -->
                                            <div class="right_option" v-if="TestTypeIndex==1 || TestTypeIndex==3">
                                                <el-radio v-for="(i,k) in testBoxItem.question_option"
                                                    v-model="testBoxItem.question_answer" :key="k" :label="options[k]">
                                                </el-radio>

                                            </div>
                                            <!-- 多选 -->
                                            <div class="right_option" v-if="TestTypeIndex==2">
                                                <el-checkbox-group v-model="testBoxItem.question_answer">
                                                    <el-checkbox v-for="(i,k) in testBoxItem.question_option"
                                                        :label="options[k]"></el-checkbox>
                                                </el-checkbox-group>
                                            </div>
                                        </li>
                                        <li>
                                            <span>&nbsp;</span>
                                            <div class="save_radio_test">
                                                <div @click="saveOneTest">保存</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="multi_test">

                                </div>
                                <div class="multi_test">

                                </div>

                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="我的实验">
                        <!-- 实验小组列表 -->
                        <div class="barbox" v-if="showExperList==1">
                            <div class="title">
                                <span>我的实验</span>
                                <div class="test_btn">
                                    <div class="handleBtn" @click="toAddE">新建<img src="../img/add_j.png" alt=""><img
                                            src="../img/add_m.png" alt=""></div>
                                </div>
                            </div>
                            <div class="testTable">
                                <div class="istable" v-if="ExperList.length>0">
                                    <el-table stripe ref="multipleTable" :data="ExperList" tooltip-effect="dark"
                                        style="width: 100%" @selection-change="handleSelectionChange">
                                        <el-table-column align="center" label="实验" width="300">
                                            <template slot-scope="props">
                                                <div class="exper_thumb">
                                                    <div class="exper_thumb_box">
                                                        <img :src="props.row.experiment_pic | addBaseurl" alt="">
                                                    </div>
                                                    <div class="exper_thumb_name">{{props.row.experiment_name}}</div>
                                                </div>
                                            </template>
                                        </el-table-column>
                                        <el-table-column align="center" prop="experiment_group_name" label="小组名称"
                                            width="180">
                                        </el-table-column>
                                        <el-table-column align="center" prop="experiment_code" label="实验码"
                                            show-overflow-tooltip>
                                        </el-table-column>
                                        <el-table-column align="center" prop="start_time" label="开始时间">
                                        </el-table-column>
                                        <el-table-column align="center" prop="end_time" label="结束时间">
                                        </el-table-column>
                                        <el-table-column align="center" label="状态" show-overflow-tooltip>
                                            <template slot-scope="scope">{{
                                                scope.row.experiment_status | stuFilter
                                                }}</template>
                                        </el-table-column>
                                        <el-table-column align="center" label="操作" width="200">
                                            <template slot-scope="props">
                                                <el-tooltip class="item" v-if="props.row.experiment_status=='0'"
                                                    effect="dark" content="发布" placement="top">
                                                    <i class="el-icon-s-promotion icon" @click="submitE(props.row)"></i>
                                                </el-tooltip>
                                                <el-tooltip class="item" v-if="props.row.experiment_status=='0'"
                                                    effect="dark" content="编辑" placement="top">
                                                    <i class='el-icon-edit-outline icon' @click="toAddE(props.row)"></i>
                                                </el-tooltip>
                                                <el-tooltip class="item" v-if="props.row.experiment_status=='0'"
                                                    effect="dark" content="删除" placement="top">
                                                    <i class='el-icon-delete icon'
                                                        @click="delAndBackE(props.row,0)"></i>
                                                </el-tooltip>
                                                <el-tooltip class="item" effect=" dark" content="查看小组学生"
                                                    placement="top">
                                                    <i class='el-icon-document-checked icon'
                                                        @click="checkE(props.row)"></i>
                                                </el-tooltip>
                                                <el-tooltip class="item" v-if="props.row.experiment_status=='1'"
                                                    effect="dark" content="撤回" placement="top">
                                                    <i class='el-icon-document-delete icon'
                                                        @click="delAndBackE(props.row,1)"></i>
                                                </el-tooltip>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <div class="page">
                                        <el-pagination background @size-change="handleSizeChange1"
                                            @current-change="handleCurrentChange1" :page-size="EpageSize"
                                            layout="total,prev, pager, next" :total="Etotal">
                                        </el-pagination>
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="notable">
                                        <img src="../img/bank.png" alt="">
                                        <div>暂无实验</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 实验要求编辑界面 -->
                        <div class="barbox" v-if="showExperList==2">
                            <div class="title">
                                <div class="back" @click="showExperList=1"><img src="../img/back.png" alt=""></div>
                                <div class="test_btn">
                                    <!-- <div class="handleBtn">发布<img src="../img/submit.png" alt=""><img
                                            src="../img/submit.png" alt=""></div> -->
                                </div>
                            </div>
                            <div class="exper_content">
                                <div class="exper_list">
                                    <ul>
                                        <li><span>选择实验：</span>
                                            <a class="show_exper_thump" @click="showExpListDiaFun">
                                                <img v-if="ExperContent.experiment_pic"
                                                    :src="ExperContent.experiment_pic | addBaseurl" class="avatar">
                                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                            </a>
                                        </li>
                                        <li><span>小组名称：</span>
                                            <div class='exper_team_input'><input
                                                    v-model="ExperContent.experiment_group_name" type="text"
                                                    placeholder="请输入小组名称">
                                            </div>
                                        </li>
                                        <li><span>实验时间：</span>
                                            <el-date-picker type="datetime" value-format="yyyy-MM-dd HH:mm:ss"
                                                v-model="ExperContent.start_time" placeholder="选择开始时间">
                                            </el-date-picker>
                                            至
                                            <el-date-picker type="datetime" value-format="yyyy-MM-dd HH:mm:ss"
                                                v-model="ExperContent.end_time" placeholder="选择结束时间">
                                            </el-date-picker>
                                        </li>
                                        <li><span>实验要求：</span>
                                            <div class="exper_request">
                                                <ul>

                                                    <li v-for="(item,index) in ExpRequire" :key="index">
                                                        <!-- 实验报告 -->
                                                        <span>{{index+1}}.{{item.require_title}}</span>
                                                        <div v-if="item.require_type=='1'">
                                                            <el-upload class="upload-demo" :action="formUploadUrl"
                                                                :before-upload="beforeAvatarUpload1"
                                                                :on-success="handleAvatarSuccess1">
                                                                <div class="light_btn">上传模板</div>
                                                                <!-- <el-button size="small" type="primary"></el-button> -->
                                                                <!-- <div slot="tip" class="el-upload__tip">
                                                                    
                                                                </div> -->

                                                            </el-upload>
                                                            <a class="viewR" v-if="item.require_content"
                                                                :href="item.require_content | addBaseurl"
                                                                target='_blank'>查看</a>


                                                        </div>
                                                        <!-- 考试 -->
                                                        <div v-if="item.require_type=='2'">
                                                            <div v-if="item.require_content !='' ">
                                                                {{item.require_content | getTitle}}</div>
                                                            <div class="light_btn" @click="show_test_list_dioag">选择试卷
                                                            </div>
                                                        </div>
                                                        <!-- 实验操作考核 -->
                                                        <div v-if="item.require_type=='3'">
                                                            <el-input type="textarea" v-model="item.require_content"
                                                                :rows="2" placeholder="请输入考核要点（可以为空）">
                                                            </el-input>
                                                        </div>
                                                        <!-- 其他要求 -->
                                                        <div v-if="item.require_type=='4'">
                                                            <el-input type="text" v-model="item.require_title"
                                                                maxlength=8 placeholder="请输入要求标题（不超过8个字）">
                                                            </el-input>
                                                            <el-input type="textarea" v-model="item.require_content"
                                                                :rows="2" placeholder="请输入要求详情">
                                                            </el-input>
                                                        </div>
                                                        <div class="dark_btn" @click="delRequestItem(index)">删除</div>
                                                    </li>
                                                    <li>
                                                        <div class="">
                                                            <el-select v-model="requestType" @change="addNewRequest"
                                                                clearable placeholder="新增要求">
                                                                <el-option v-for="item in requestTypeList"
                                                                    :key="item.value" :label="item.label"
                                                                    :value="item.value">
                                                                </el-option>
                                                            </el-select>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><span>实验分数：</span>
                                            <div class="exper_sum_score" v-if="ExpRequire.length>0">
                                                <div class="weight_title">
                                                    <div class="weight_item">
                                                        <span>成绩权重=</span>
                                                    </div>

                                                    <div v-for="(item,index) in ExpRequire" :key="index"
                                                        class="weight_item">
                                                        <a href="javascript:;">+</a><span>{{item.require_title}}</span>
                                                    </div>
                                                    <div class="weight_item">
                                                        =<span>100%</span>
                                                    </div>
                                                </div>
                                                <div class="weight_score">
                                                    <div class="weight_item">

                                                    </div>
                                                    <div v-for="(item,index) in ExpRequire" :key="index"
                                                        class="weight_item">
                                                        <a href="javascript:;">+</a><input type="text"
                                                            v-model="item.require_weight">%
                                                    </div>
                                                    <div class="weight_item">
                                                        =<span>100%</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="light2_btn mr_75" @click="saveOrEditGroup">保存</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- 评分界面 -->
                        <div class="barbox" v-if="showExperList==3">
                            <div class="title">
                                <div class="back" @click="showExperList=4"><img src="../img/back.png" alt=""></div>
                                <span style="border: none;">{{StuSubmitCont.student_name}}</span>
                                <div class="test_btn">
                                    <!-- <div class="handleBtn">提交<img src="../img/submit.png" alt="">
                                        <img src="../img/submit.png" alt="">
                                    </div> -->
                                </div>
                            </div>
                            <div class="content_chenge">
                                <!-- <a class="tabbar1 tab1_act">试卷（60分）</a>
                                <a class="tabbar1">实验报告（60分）</a>
                                <a class="tabbar1">实验操作（60分）</a> -->

                                <span class="total_score fl_r">总分<span>{{StuSubmitCont.totle_score}}</span></span>
                            </div>
                            <el-tabs type="border-card" tab-position="top">
                                <el-tab-pane v-for="(item,index) in StuSubmitCont.experiment_require" :key="index">
                                    <span slot="label">
                                        <el-badge :is-dot="item.require_status==0" class="smallRedTips">
                                            {{item.require_title+'('+item.require_weight+'%)'}}</el-badge>
                                    </span>
                                    <div class=" tab_con1" style="min-height: 570px;">
                                        <div class="correct_box">
                                            <ul class="list_topic_type" v-if="item.require_type==2">
                                                <li>单选题<span>（{{StuSubmitCont.singleChoiceScore}}分）</span></li>
                                                <li>多选题<span>（{{StuSubmitCont.multipleChoiceScore}}分）</span></li>
                                                <li>判断题<span>（{{StuSubmitCont.judgeScore}}分）</span></li>

                                            </ul>
                                            <div class="corr_list" v-if="item.require_type==2">
                                                <div class="corr_item" v-for="(it,inx) in StuShortAnswer" :key="inx">
                                                    <div class="corr_tle">
                                                        简答题
                                                    </div>
                                                    <div class="corr_tle">
                                                        {{it.question_id}}. <span v-html="it.question_title"></span>
                                                    </div>
                                                    <div class="corr_ans">
                                                        {{it.question_answer}}
                                                    </div>
                                                    <div class="corr_score" v-if="item.require_status !='1'">评分：<input
                                                            type="number" v-model="it.theScore">
                                                    </div>
                                                </div>
                                                <div class="corr_score">试卷评分：{{item.require_score}}</div>
                                            </div>
                                        </div>
                                        <div class="view_report" v-if="item.require_type==1">报告：<a
                                                :href="preViewReport+item.require_content" target="_blank">在线预览</a>
                                        </div>
                                        <div class="corr_score" v-if="item.require_type==3 || item.require_type==4">

                                            {{item.require_title}}

                                            <div class="corr_ans">
                                                {{item.require_content}}
                                            </div>
                                        </div>
                                        <div class="corr_score" v-if="item.require_type!=2">评分：<input type="number"
                                                v-model="item.require_score"></div>

                                        <div class="save_btn">
                                            <div class="light_btn" @click=preStu(StuSubmitCont.before_user_id)>上一位</div>
                                            <!-- <div class="light_btn" @click="saveReqScore(item.require_type)">保存</div> -->
                                            <div class="light_btn" @click="saveReqScore(item)">保存</div>
                                            <div class="light_btn" @click=nextStu(StuSubmitCont.after_user_id)>下一位</div>
                                        </div>
                                    </div>
                                </el-tab-pane>
                            </el-tabs>


                        </div>
                        <!-- 小组学生信息 -->
                        <div class="barbox" v-if="showExperList==4">
                            <div class="title">
                                <div class="back" @click="showExperList=1"><img src="../img/back.png" alt=""></div>
                                <span style="border: none;">{{groupName}}</span>
                                <div class="test_btn">
                                </div>
                            </div>
                            <div class="testTable">
                                <div class="istable" v-if="StudentList.length>0">
                                    <el-table stripe ref="multipleTable" :data="StudentList" tooltip-effect="dark"
                                        style="width: 100%">
                                        <el-table-column type="index" label="序号">
                                        </el-table-column>
                                        <el-table-column align="center" prop="experiment_group_name" label="小组名称"
                                            width="180">
                                        </el-table-column>
                                        <el-table-column align="center" prop="student_name" label="学生姓名"
                                            show-overflow-tooltip>
                                        </el-table-column>
                                        <el-table-column align="center" prop="major" label="专业" show-overflow-tooltip>
                                        </el-table-column>
                                        <el-table-column align="center" prop="grade" label="班级" show-overflow-tooltip>
                                        </el-table-column>
                                        <el-table-column align="center" prop="complete_time" label="提交时间">
                                        </el-table-column>
                                        <el-table-column align="center" label="当前状态" show-overflow-tooltip>
                                            <template slot-scope="scope">{{
                                                scope.row.experiment_status =="0"? "待完成":"已提交"
                                                }}</template>
                                        </el-table-column>
                                        <el-table-column align="center" label="操作">
                                            <template slot-scope="props">
                                                <el-tooltip v-if="props.row.experiment_status==1" class="item"
                                                    effect="dark" content="批改" placement="top">
                                                    <i class='el-icon-edit-outline icon'
                                                        @click="editStu(props.row)"></i>
                                                </el-tooltip>
                                                <el-tooltip class="item" effect="dark" content="踢出小组" placement="top">
                                                    <i class='el-icon-delete icon' @click="delStu(props.row)"></i>
                                                </el-tooltip>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <div class="page">
                                        <el-pagination background @size-change="handleSizeChange3"
                                            @current-change="handleCurrentChange3" :page-size="StupageSize"
                                            layout="total,prev, pager, next" :total="Stutotal">
                                        </el-pagination>
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="notable">
                                        <img src="../img/bank.png" alt="">
                                        <div>暂无小组成员</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>


                </el-tabs>

                <!-- 选择实验弹出框 -->
                <el-dialog title="实验中心" :close-on-click-modal='false' width="800px" :visible.sync="showExperListDialog"
                    center>
                    <div class="exp_list_search">
                        <el-input placeholder="请输入内容" prefix-icon="el-icon-search" v-model="selectExp"
                            @enter="showExpListDiaFun">
                            <div class="exp_search_bar" slot="append" @click="showExpListDiaFun">搜索</div>
                        </el-input>
                    </div>
                    <div class="exp_list_box">
                        <div class="exp_item " v-for='(item,index) in expList' @click="selectExpItem(item,index)"
                            :class="item.experiment_id==actExpIndex?'exp_item_act':''">
                            <div class="exp_item_img">
                                <img :src="item.experiment_pic | addBaseurl" alt="">
                                <span class="icon_no_select"></span>
                            </div>
                            <div class="exp_item_title">{{item.experiment_name}}</div>
                            <i class="el-icon-success"></i>
                        </div>

                    </div>
                    <div class="page">
                        <el-pagination background @size-change="handleSizeChange2"
                            @current-change="handleCurrentChange2" :page-size="expageSize"
                            layout="total,prev, pager, next" :total="exptotal">
                        </el-pagination>
                    </div>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="showExperListDialog = false">取 消</el-button>
                        <el-button type="primary" @click="confirmSelExpItem">确 定</el-button>
                    </span>
                </el-dialog>
                <!-- 选择题库弹出框 -->
                <el-dialog title="题库" :close-on-click-modal='false' :close-on-press-escape="false" :show-close="false"
                    max-height="400" width="600px" :visible.sync="showTestListDialog" center>
                    <div class="test_list_box">
                        <div class="istable" v-if="Q_list.length>0">
                            <el-table stripe ref="multipleTable" :data="Q_list" tooltip-effect="dark"
                                style="width: 100%" @selection-change="handleSelectionChange">
                                <el-table-column label="题目" show-overflow-tooltip width="200" prop="title">
                                    <template slot-scope="props">
                                        <div class="test_list_title">
                                            <el-radio v-model="radio" :label=props.row.question_bank_id>&nbsp;
                                            </el-radio>
                                            <span>{{props.row.question_bank_name}}</span>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="teacher_name" align="center" label="出题人" show-overflow-tooltip
                                    :render-header="renderProductId">
                                </el-table-column>
                                <el-table-column prop="create_time" align="center" label="创建日期" show-overflow-tooltip>
                                </el-table-column>
                            </el-table>
                            <div class="page">
                                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                    :page-size="QpageSize" layout="total,prev, pager, next" :total="Qtotal">
                                </el-pagination>
                            </div>
                        </div>


                        <div v-if="Q_list.length==0">
                            <div class="notable">
                                <img src="../img/bank.png" alt="">
                                <div style="text-align: center;">无题库列表</div>
                            </div>
                        </div>
                        <!-- <el-table ref="multipleTable" :data="Q_list" tooltip-effect="dark" style="width: 100%"
                            @selection-change="handleSelectionChange">
                            <el-table-column label="题目" show-overflow-tooltip width="200" prop="title">
                                <template slot-scope="props">
                                    <div class="test_list_title">
                                        <el-radio v-model="radio" :label=props.row.question_bank_id>&nbsp;</el-radio>
                                        <span>{{props.row.question_bank_name}}</span>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="createDate" label="创建日期" width="120">
                            </el-table-column>
                            <el-table-column prop="author" label="出题人">
                            </el-table-column>
                        </el-table> -->
                    </div>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="cancalQTilstDia">取 消</el-button>
                        <el-button type="primary" @click="confirmQListDia">确 定</el-button>
                    </span>
                </el-dialog>
            </div>
        </main>
        <!-- 页脚已完成 -->
        <div class="footer">
            <div class="foot_content">
                <a href="javascript:;">版权所有：</a>
                <a href="javascript:;">华北水利水电大学</a><span>|</span>
                <a href="javascript:;">豫ICP备05002494-1</a><span>|</span>
                <a href="javascript:;">豫公网安备 41010702002321号</a>
            </div>
        </div>
    </div>
</body>



<script src="../js/vue.js"></script>
<script src="../js/element.js"></script>
<script src="../js/jquery-1.12.4.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/pub.js"></script>
<script src="../js/base64.js"></script>
<script type='module' src="../js/tecUserCenter.js"></script>
<script charset="utf-8" src="../js/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="../js/kindeditor/lang/zh-CN.js"></script>

<script>
    //编辑器

</script>


<!-- <script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script> -->
<style>

</style>

</html>